@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Rambla&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    --c-primario: #4caf50;
}

body, html {
    height: 100%;
}

p {
    margin: 0 !important;
}

.nav-container {
    background-color: var(--c-primario);
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}
