@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Rambla&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    --c-primario: #4caf50;
    --c-background: #e3f2fd;
}

/* body, html {
    height: 100%;
} */

p {
    margin: 0 !important;
}

.nav-container {
    background-color: var(--c-primario);
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.card-home {
    min-height: 250px;
    max-height: 250px;
}
.card {
    background-color: var(--c-background);
    border: none;
    border-radius: 0.5rem;
}

.apunte-descrip {
    overflow: hidden;
    max-height: 120px;
}

.novedad-descrip {
    overflow: hidden;
    max-height: 145px;
}

.boton-apunte {
    position: absolute;
    bottom: 15px;
}

.bronce{
    background-color: #957025!important;
}