<!DOCTYPE HTML>
<div th:insert="~{nav}"></div>
<body>
<main role="main" class="container">
    <div class="container">
        <h1>Formulario de Registro de Carrera</h1>
        <form th:action="@{/subirCarrera}" method="post" th:object="${datosCarrera}" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="form-group">
                <label for="descripcion">Nombre de la Carrera:</label>
                <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" required="required" />
            </div>
            <div th:if="${#fields.hasErrors('descripcion')}" class="text-danger">
                <p th:errors="*{descripcion}"></p>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Registrar Carrera</button>
        </form>
    </div>
</main>
</body>