<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
<div class="container">
    <div class="row">
        <div th:each="apunte : ${apuntes}"  th:if="${apunte.activo}" class="col">
            <div class="card my-2" style="width: 18rem;">
                <div class="card-body">

                    <h5 th:text="${apunte.nombre}" class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Materia</h6>
                    <p th:text="${apunte.descripcion}" class="card-text" style="height: 6rem;"></p>
                    <!--<a th:href="@{/detalleApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Detalles</a-->
                    <p th:text="${apunte.precio}" class="card-text" style="height: 6rem;"></p>

                    <a th:href="@{/detalleApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Detalles</a>

                    <form th:action="@{/comprarApunte/{id}(id=${apunte.id})}" method="POST" style="margin-top: 10px;">

                        <button id="botonComprar" th:unless="${#lists.contains(apuntesComprados, apunte) or #lists.contains(apuntesCreados, apunte)}"
                                type="submit" class="btn btn-success boton-apunte">Comprar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div th:if="${mostrarModalPuntos}" class="modal show" id="modalPuntos" tabindex="-1" role="dialog" aria-labelledby="modalPuntosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPuntosLabel">¡Ups!</h5>
                    <button type="button" id="cerrarModalPuntosBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Parece que no tenés puntos suficientes para comprar este apunte.<br>
                    Pero tranquilo... Tenemos la solución a tus problemas! &#128522;</p><br>
                    <p>¡Adquirí alguno de nuestros packs y seguí comprando!</p>
                </div>
                <div class="modal-footer">
                    <a th:href="@{'/packs'}" class="btn btn-success" data-dismiss="modal">Comprar packs</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        var mostrarModal = [[${mostrarModalPuntos}]];

        if (mostrarModal) {
            $('#modalPuntos').modal('show');
        }
    });
    document.getElementById('cerrarModalPuntosBtn').addEventListener('click', function() {
        cerrarModalPuntos();
    });
    function cerrarModalPuntos() {
        $('#modalPuntos').modal('hide');
    }
</script>
</body>