<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
    <main class="container">
        <a th:href="@{'/formulario-alta-resena'}" class="btn btn-primary">Agregar Reseña</a>
        <p th:text="${apunte.nombre}"></p>
        <p th:text="${apunte.descripcion}"></p>
        <p th:text="${apunte.pathArchivo}"></p>
        <table border="1">
            <thead>
            <tr>
                <th>Título</th>
                <th>Contenido</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resena : ${resenas}">
                <td th:text="${resena.descripcion}"></td>
                <td th:text="${resena.cantidadDeEstrellas}"></td>
                <td>
                    <a th:href="@{'/borrarResena/' + ${resena.id}}" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
        
        <p th:if="${mensaje}" style="color: green;" th:text="${mensaje}"></p>
        <p th:if="${error}" style="color: red;" th:text="${error}"></p>
    </main>
</body>