<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
    <main class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-9">
              <iframe th:src="@{'/pdf/' + ${apunte.pathArchivo}}" frameborder="0" height="500px" width="100%"></iframe>
            </div>
            <div class="col-12 col-sm-3">
                <h2 th:text="${apunte.nombre}"></h2>
                <p class="fw-bold">Descripción: <span class="fw-normal" th:text="${apunte.descripcion}"></span></p>
                <p class="fw-bold">Path: <span class="fw-normal" th:text="${apunte.pathArchivo}"></span></p>
                <div th:if="${tipoDeAcceso}">
                    <a th:if="${!hayResena}" th:href="@{'/formulario-alta-resena'}" class="btn btn-primary">Agregar Reseña</a>
                </div>

            </div>
        </div>
        <hr>
        <h3>Reseñas</h3>
        <table class="w-100">
            <thead>
                <tr>
                    <th>Comentario</th>
                    <th>Valoración</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resena : ${resenas}">
                    <td th:text="${resena.descripcion}"></td>
                    <td th:text="${resena.cantidadDeEstrellas}"></td>
                    <td>
                        <a th:href="@{'/borrarResena/'+${resena.id}}" class="btn btn-danger m-1">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p th:if="${mensaje}" style="color: green;" th:text="${mensaje}"></p>
        <p th:if="${error}" style="color: red;" th:text="${error}"></p>
    </main>
</body>