<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Formulario de Reseña</h1>
<form action="#" th:action="@{/guardarResena}" method="post" th:object="${datosResena}">

    <label for="comentario">Comentario:</label><br>
    <textarea id="comentario" name="comentario" th:field="*{descripcion}" rows="4" cols="50" required></textarea><br><br>

    <label for="calificacion">Calificación:</label>
    <select id="calificacion" name="calificacion" th:field="*{calificacion}" required>
        <option value="1">1 - Muy Malo</option>
        <option value="2">2 - Malo</option>
        <option value="3">3 - Regular</option>
        <option value="4">4 - Bueno</option>
        <option value="5">5 - Excelente</option>
    </select><br><br>

    <input type="submit" value="Guardar Reseña">
</form>
</body>
</html>