<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
<main class="container">
    <!-- Sección de Destacados -->
    <section class="my-5">
        <h1 class="text-center">Apuntes Destacados</h1>
        <div class="container">
            <div class="row">
                <div th:each="apunte : ${apuntes}" class="col">
                    <div class="card my-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 th:text="${apunte.nombre}" class="card-title"></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Materia</h6>
                            <p th:text="${apunte.descripcion}" class="card-text" style="height: 6rem;"></p>
                            <p th:text="${apunte.precio}" class="card-text" style="height: 6rem;"></p>
                            <a class="btn btn-success" th:href="@{/comprarApunte/{id}(id=${apunte.id})}">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Ofertas -->
    <section class="my-5">
        <h1 class="text-center">Ofertas Especiales</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="oferta1.jpg" class="card-img-top" alt="Oferta 1">
                    <div class="card-body">
                        <h5 class="card-title">Oferta 1</h5>
                        <p class="card-text">Descripción de la oferta 1.</p>
                        <a th:href="@{/oferta/1}" class="btn btn-primary">Ver Oferta</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="oferta2.jpg" class="card-img-top" alt="Oferta 2">
                    <div class="card-body">
                        <h5 class="card-title">Oferta 2</h5>
                        <p class="card-text">Descripción de la oferta 2.</p>
                        <a th:href="@{/oferta/2}" class="btn btn-primary">Ver Oferta</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="oferta3.jpg" class="card-img-top" alt="Oferta 3">
                    <div class="card-body">
                        <h5 class="card-title">Oferta 3</h5>
                        <p class="card-text">Descripción de la oferta 3.</p>
                        <a th:href="@{/oferta/3}" class="btn btn-primary">Ver Oferta</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Novedades -->
    <section class="my-5">
        <h1 class="text-center">Novedades</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="novedad1.jpg" class="card-img-top" alt="Novedad 1">
                    <div class="card-body">
                        <h5 class="card-title">Novedad 1</h5>
                        <p class="card-text">Descripción de la novedad 1.</p>
                        <a th:href="@{/novedad/1}" class="btn btn-primary">Ver Novedad</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="novedad2.jpg" class="card-img-top" alt="Novedad 2">
                    <div class="card-body">
                        <h5 class="card-title">Novedad 2</h5>
                        <p class="card-text">Descripción de la novedad 2.</p>
                        <a th:href="@{/novedad/2}" class="btn btn-primary">Ver Novedad</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="novedad3.jpg" class="card-img-top" alt="Novedad 3">
                    <div class="card-body">
                        <h5 class="card-title">Novedad 3</h5>
                        <p class="card-text">Descripción de la novedad 3.</p>
                        <a th:href="@{/novedad/3}" class="btn btn-primary">Ver Novedad</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <h1 class="text-center">Usuarios Destacados</h1>
        <div class="row">
             <div th:each="usuario : ${usuariosDestacados}" class="col-md-4 text-center">
                <div class="card">
                    <img th:src="@{'/img/' + ${usuario.fotoPerfil}}" alt="Foto de perfil" width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${usuario.nombre}"></h5>
                        <p class="card-text" th:text="${usuario.email}"></p>
                        <a th:href="@{'/perfilUsuario/' + ${usuario.id}}" class="btn btn-primary">Ver perfil y apuntes</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4 text-center">
                <div class="card">
                    <img th:src="${'/img/' + session.usuario.fotoPerfil}" alt="Foto de perfil" width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Juan</h5>
                        <p class="card-text">main@mail.com</p>
                        <a href="#" class="btn btn-primary">Ver perfil y apuntes</a>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
</main>

<footer class="bg-dark text-light text-center py-3">
    <p>&copy; Derechos - Privacidad - Etc.</p>
</footer>
</body>
