<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
<main class="container">
    <div class="text-center">
        <div class="row align-items-center">
            <!-- <div class="botonPerfil p-2 col-6 col-md-4 col-lg-3">
                <button class="d-flex align-items-center flex-column py-2">
                    <i class="fs-1 fa-solid fa-address-card"></i>
                    Información Personal
                </button>
            </div>
            <div class="botonPerfil p-2 col-6 col-md-4 col-lg-3">
                <button class="d-flex align-items-center flex-column py-2">
                    <i class="fs-1 fa-solid fa-wallet"></i>
                    Mis puntos
                </button>
            </div>
            <div class="botonPerfil p-2 col-6 col-md-4 col-lg-3">
                <button class="d-flex align-items-center flex-column py-2">
                    <i class="fs-1 fa-solid fa-shopping-bag"></i>
                    Mis compras
                </button>
            </div>
            <div class="botonPerfil p-2 col-6 col-md-4 col-lg-3">
                <button class="d-flex align-items-center flex-column py-2">
                    <i class="fs-1 fa-solid fa-money-bill-wave"></i>
                    Mis ventas
                </button>
            </div>
            <div class="botonPerfil p-2 col-6 col-md-4 col-lg-3">
                <a th:href="@{'/misApuntes'}">
                    <button class="d-flex align-items-center flex-column py-2">
                        <i class="fs-1 fa-solid fa-book"></i>
                        Mis apuntes
                    </button>
                </a>
            </div> -->
        </div>
    </div>
    <!--<div class="d-flex mt-5 p-2" style="background: #e3f2fd;">
        <div class="fotoPerfil">
            <img th:src="@{'/img/' + ${usuario.fotoPerfil}}" alt="Foto de perfil">
        </div>
        <div style="margin-left: 18px;" th:if="${usuario != null}">
            <p class="font-weight-bold">Nombre: <span th:text="${usuario.apellido +', '+ usuario.nombre}"></span></p>
            <p class="font-weight-bold">Email: <span th:text="${usuario.email}"></span></p>
            <p class="font-weight-bold">Rol: <span th:text="${usuario.rol}"></span></p>
            <p class="font-weight-bold">Puntos: <span th:text="${usuario.puntos}"></span></p>

        </div>
    </div>-->

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card-perfil p-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">
                    <img th:src="@{'/img/' + ${usuario.fotoPerfil}}" alt="Foto de perfil" height="100" width="100" /></button>
                <span class="name mt-3" th:text="${ usuario.nombre + ' ' + usuario.apellido}"></span>
                <span th:text="${usuario.email}" class="idd"></span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                    <span th:text="${session.usuario.codigoDeCreador}" class="idd1"></span>
                    <span><i class="fa fa-copy"></i></span>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                    <span class="number">10 <span class="follow">Apuntes</span></span>
                </div>
                <div class=" d-flex mt-2">
                    <button class="btn1 btn-dark">Edit Profile</button>
                </div>
                <div class="text mt-3">
                    <span>Acá podría ir una descripción tranquilamente, o lo que consideren necesario.</span>
                </div>
                <div class="col-12 col-md-12 col-lg-12 mt-3 mx-auto">
                    <div id="map" class="w-100 rounded-lg border border-2 border-primary shadow-lg" style="height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvZj61EiOcl1RlGGo3dt9u2OpyqqYkohk"></script>
<script th:inline="javascript">
    var usuario = /*[[${usuario}]]*/ null;
        function initMap() {
        var geocoder = new google.maps.Geocoder();
        var lat = usuario.latitud;
        var lng = usuario.longitud;


        var myLatLng = {lat: lat, lng: lng};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng,
            disableDefaultUI: true,
            zoomControl: true,
            gestureHandling: 'cooperative'
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Marcador'
        });
    }

    // Inicializar el mapa cuando la página haya cargado
    window.onload = function() {
        initMap();
    };

</script>