<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
<main>
    <div class="nombreYFoto">
        <div>
            <button> <img th:src="@{'/img/' + ${usuario.fotoPerfil}}" alt="Foto de perfil"></button>

        </div>
        <div th:if="${usuario != null}">
            <p th:text="${usuario.nombre}"></p>
            <p th:text="${usuario.email}"></p>
        </div>
    </div>

    <br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <button>
                    <i class="fa-solid fa-address-card" style="color: black; font-size: 25px;"></i>
                    Información Personal
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="fa-solid fa-wallet" style="color: #000000;"></i>
                    Mis puntos
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="fa-solid fa-lock" style="color: black; font-size: 25px;"></i>
                    Privacidad
                </button>
            </div>
        </div>
    </div>

    <br><br>

    <br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <button class="icon-button">
                    <i class="fa-solid fa-shopping-bag"></i>
                    Mis compras
                </button>
            </div>
            <div class="col">
                <button class="icon-button">
                    <i class="fa-solid fa-money-bill-wave"></i>
                    Mis ventas
                </button>
            </div>
            <div class="col">
                <button class="icon-button">
                    <i class="fa-solid fa-book"></i>
                    Mis apuntes
                </button>
            </div>
        </div>
    </div>
</main>
</body>