<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Apuntes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{nav}"></div>

<div class="mx-auto my-2" style="width: 200px;">
    <a th:href="@{'/formulario-alta-apunte'}" class="btn btn-success">Subir un apunte</a>
</div>
<div class="container">
    <div class="row">
        <div th:each="apunte : ${apuntes}"  class="col">
            <div class="card my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${apunte.nombre}" class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Materia</h6>
                    <p th:text="${apunte.descripcion}" class="card-text" style="height: 6rem;"></p>
                    <a th:href="@{/detalleApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Detalles</a>
                    <a th:href="@{/editarApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Editar</a>
                    <a th:href="@{/eliminarRelacionApunte/{id}(id=${apunte.id})}" class="btn btn-danger">Eliminar</a>
                    <p th:text="${apunte.precio}" class="card-text" style="height: 6rem;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>