<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Apuntes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">UNLaM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis Apuntes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Puntos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="miPerfil.html">Perfil</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <h4>Mis Apuntes</h4>
        </form>
    </div>
</nav>
<div class="mx-auto my-2" style="width: 200px;">
    <a href="altaApunte.html" class="btn btn-success">Subir un apunte</a>
</div>
<div class="container">
    <div class="row">
        <div th:each="apunte : ${apuntes}"  class="col">
            <div class="card my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${apunte.nombre}" class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Materia</h6>
                    <p th:text="${apunte.descripcion}" class="card-text" style="height: 6rem;"></p>
                    <a th:href="@{/editarApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Editar</a>
                    <a th:href="@{/eliminarApunte/{apunteObj}(apunteObj=${apunte})}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>