<!DOCTYPE HTML>
<div th:insert="~{nav}"></div>
<body>
<main role="main" class="container">
    <div class="container">
        <h1>¡Comprá tu Pack!</h1>
        <form th:action="@{/crear-orden}" method="post" class="needs-validation" novalidate>
            <fieldset class="form-group">
                <legend>Seleccione un pack:</legend>
                <div class="btn-group packs-btn-group" data-toggle="buttons">
                    <div>
                        <label class="btn" for="packBronce"><input type="radio" id="packBronce" name="pack" value="bronce" /> <img alt="Packs" style="height: 24px" th:src="@{/img/coin.png}"> x 20</label>
                    </div>

                    <div>
                        <label class="btn" for="packPlata"><input type="radio" id="packPlata" name="pack" value="plata" /> <img alt="Packs" style="height: 24px" th:src="@{/img/coin.png}"> x 50</label>
                    </div>

                    <div>
                        <label class="btn" for="packOro"><input type="radio" id="packOro" name="pack" value="oro" /> <img alt="Packs" style="height: 24px" th:src="@{/img/coin.png}"> x 100</label>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary my-2">Comprar Pack</button>
        </form>
        <p th:text="${error}"></p>
    </div>
</main>
</body>