<!DOCTYPE HTML>
<div th:insert="~{nav}"></div>
<body>
<main role="main" class="container">
    <div class="container">
        <h1>¡Comprá tu Pack!</h1>
        <form th:action="@{/crear-orden}" method="post" class="needs-validation" novalidate>
            <fieldset class="form-group">
                <legend>Seleccione un pack:</legend>
                <div class="container-pack">
                    <div class="card-pack">
                        <input class="btn-bronce" type="radio" name="pack" id="packBronce" value="bronce">
                        <label for="packBronce">
                            <h5>BRONCE</h5>
                            <h2>
                                20<img alt="Packs" style="height: 22px" th:src="@{/img/coin.png}"><span> x $200</span>
                            </h2>
                        </label>
                    </div>
                    <div class="card-pack">
                        <input class="btn-plata" type="radio" name="pack" id="packPlata" value="plata" checked>
                        <label for="packPlata">
                            <h5>PLATA</h5>
                            <h2>
                                50<img alt="Packs" style="height: 22px" th:src="@{/img/coin.png}"><span> x $400</span>
                            </h2>
                        </label>
                    </div>
                    <div class="card-pack">
                        <input class="btn-oro" type="radio" name="pack" id="packOro" value="plata">
                        <label for="packOro">
                            <h5>ORO</h5>
                            <h2>
                                100<img alt="Packs" style="height: 22px" th:src="@{/img/coin.png}"><span> x $700</span>
                            </h2>
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="text-center"><button type="submit" class="btn btn-primary my-4">Comprar Pack</button></div>
        </form>
        <p th:text="${error}"></p>
    </div>
</main>
</body>