<!DOCTYPE html>
<div th:insert="~{nav}"></div>
<body>
    <div class="container">
        <div class="row">
            <h2>Apuntes creados por <span th:text="${usuario.nombre}"></span></h2>
            <div th:each="apunte : ${apuntesCreados}" th:if="${apunte.activo}" class="card my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${apunte.nombre}" class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Materia</h6>
                    <p th:text="${apunte.descripcion}" class="card-text" style="height: 6rem;"></p>
                    <p th:text="${apunte.precio}" class="card-text" style="height: 6rem;"></p>
                    <a th:href="@{/detalleApunte/{id}(id=${apunte.id})}" class="btn btn-primary">Detalles</a>
                    <form th:action="@{/comprarApuntePorPerfil/{id}(id=${apunte.id})}" method="post">

                        <button id="botonComprar" th:unless="${#lists.contains(apuntesCompradosPorUsuarioActual, apunte) or #lists.contains(apuntesCreadosPorUsuarioActual, apunte)}"
                                type="submit" class="btn btn-success boton-apunte">Comprar</button>
                    </form>
                </div>
            </div>
            <p th:if="${error}" style="color: red;" th:text="${error}"></p>
        </div>
    </div>
</body>