<!DOCTYPE HTML>
<div th:insert="~{nav}"></div>
<body>
<main role="main" class="container">
    <div class="container">
        <h1>Formulario de Registro de Apunte</h1>
        <form th:action="@{/crear-orden}" method="post" class="needs-validation" novalidate>
            <fieldset class="form-group">
                <legend>Seleccione un pack:</legend>
                <div>
                    <input type="radio" id="packBronce" name="pack" value="bronce" />
                    <label for="packBronce">Bronce</label>
                </div>

                <div>
                    <input type="radio" id="packPlata" name="pack" value="plata" />
                    <label for="packPlata">Plata</label>
                </div>

                <div>
                    <input type="radio" id="packOro" name="pack" value="oro" />
                    <label for="packOro">Oro</label>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Comprar Pack</button>
        </form>
    </div>
</main>
</body>